<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991593401380-8gklrfv9r52ggkg1midbhta5h0auplip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991593401380-8gklrfv9r52ggkg1midbhta5h0auplip</string>
	<key>API_KEY</key>
	<string>AIzaSyCOXsS_cn4ABMyF2Xog6kPjaeO-64pM_Is</string>
	<key>GCM_SENDER_ID</key>
	<string>991593401380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zartekWork</string>
	<key>PROJECT_ID</key>
	<string>zartekproject</string>
	<key>STORAGE_BUCKET</key>
	<string>zartekproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991593401380:ios:bc31c9bfbe09e3dff39cb1</string>
</dict>
</plist>